/* CHECKOUT FORM */

.selection-box {
    width: 255px;
    height: 180px;
    margin: 20px 0px 20px 0px;
    padding: 30px;
    border: 1px solid #E3E4EA;
    border-radius: 6px;
    color: #5A637F;
    text-align: center;
    font-style: oblique;
    font-weight: 600;
    background-color: #F7F7FA;
}

.selection-box:hover {
    outline: 5px solid #76A7E1;
    border-radius: 6px;
}


